<div class="container" style="padding: 10% 0% 10% 0%">
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Class</th>
            <th scope="col">Professor</th>
	    <th scope="col">Drop Class</th>
			
        </tr>
        </thead>
        <tbody>
        <tr>
		<td>Harry</td>
		<td>Potter</td>
		<td>Potions</td>
		<td>Snape</td>
		<td><button>Drop</button></td>
        </tr>
        <tr>

        </tr>
        <tr>

        </tr>
        </tbody>
    </table>
</div>
