<div class="container bg-dark mt-4 p-4 rounded" class="createClassForm">
    <h2 class="text-center">Create Class</h2>
    <form id="newClass" action="/createClass" method="post">
        <div class="form-row">
            <div class="col mb-3">
                <input type="text" class="form-control" name= "className" placeholder="Class name (Required)">
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
             <label for="classProf">Professor</label>
               <select class="form-control" id="professor-select" name="pID">
                    <option value="">Select a Professor</option>
                    {{#each professor}}
                     <option value={{this.pID}}>{{this.fname}} {{this.lname}}</option>
                     {{/each}}
                </select>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Create Class</button>
    </form>
</div>