<div class="container bg-dark rounded mt-4" class="regProfForm">
    <h2 class="text-center">Register Professor</h2>
    <form id="newProfessor" action="/regProfessor" method="post">
        <div class="form-row">
            <div class="col">
                <input type="text" class="form-control" name="fName" placeholder="First name (Required)">
            </div>
            <div class="col">
                <input type="text" class="form-control" name="lName" placeholder="Last name (Required)">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="schoolSelect">Select School</label>
                <select class="form-control" id="schoolSelect" name="school">
                    <option value=999 selected>Select School</option>
                    <option value=1>Hogwarts School of Witchcraft and Wizardry</option>
                    <option value=2>Beauxbatons Academy of Magic</option>
                    <option value=3>Durmstrang Institute</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="houseSelect">Select House</label>
                <select class="form-control" id="houseSelect" name="house">
                    <option value=999 selected>Select House</option>
                    <option value=1>Gryffindor - Hogwarts</option>
                    <option value=2>Hufflepuff - Hogwarts</option>
                    <option value=3>Ravenclaw - Hogwarts</option>
                    <option value=4>Slytherin - Hogwarts</option>
                    <option value=5>Bellefeuille - Beauxbatons</option>
                    <option value=6>Ombrelune - Beauxbatons</option>
                    <option value=7>Papillonlisse - Beauxbatons</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="petSelect">Pet:</label>
                <select class="form-control" id="petSelect" name="pet">
                    <option value=999 selected>Select Pet</option>
                    {{#each pets}}
                    <option value={{this.pet_id}}>{{this.name}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Register Professor</button>
    </form>
</div>