<div class="container" class="regPetForm">
    <h2 class="text-center">Register Pet</h2>
    <form id="newPet" action="/register_pet" method="post">
        <div class="form-row">
            <div class="col">
                <input type="text" class="form-control" placeholder="Owner's First name (Required)">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Owner's Last name (Required)">
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="studentAge">Pet's Name (Required)</label>
                <input type="text" class="form-control" id="petName" placeholder="Enter Name" required>
            </div>
            <div class="col-md-6 mb-3">
                <label for="studentAge">Pet's Species (Required)</label>
                <input type="text" class="form-control" id="petSpecies" placeholder="Enter Species" required>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Register Pet</button>
    </form>
</div>