<div class="container" class="regProfForm">
    <h2 class="text-center">Register Professor</h2>
    <form id="newProfessor" action="/register_Professor" method="post">
        <div class="form-row">
            <div class="col">
                <input type="text" class="form-control" placeholder="First name (Required)">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Last name (Required)">
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="studentAge">Age</label>
                <input type="number" class="form-control" id="studentAge" placeholder="30" required>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
             <label for="studentAge">Class (Required)</label>
               <input type="text" class="form-control" id="proffClass" placeholder="Enter Class" required>
            </div>
            <div class="form-group col-md-6">
                <label for="schoolSelect">Select School</label>
                <select class="form-control" id="schoolSelect">
                    <option value="Hogwarts">Hogwarts School of Witchcraft and Wizardry</option>
                    <option value="Beauxbatons">Beauxbatons Academy of Magic</option>
                    <option value="Durmstrang">Durmstrang Institute</option>
                </select>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Register Professor</button>
    </form>
</div>