
<div class="container bg-dark rounded mt-4" class="regStudentForm">
    <h2 class="text-center">Register Student</h2>
    <form id="newStudent" action="/regStudent" method="post">
        <div class="form-row mb-3">
            <div class="col">
                <input type="text" class="form-control" name="fName" placeholder="First name (Required)">
            </div>
            <div class="col">
                <input type="text" class="form-control" name="lName" placeholder="Last name (Required)">
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="studentAge">Age</label>
                <input type="number" class="form-control" id="studentAge" name="age" placeholder="11" required>
                <div class="invalid-feedback">
                    Please Provide a valid age between 11-19.
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="schoolSelect">School:</label>
                <select class="form-control" name="school" id="schoolSelect">
                    <option>Select School</option>
                    <option value= 1>Hogwarts School of Witchcraft and Wizardry</option>
                    <option value= 2>Beauxbatons Academy of Magic</option>
                    <option value= 3>Durmstrang Institute</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="houseSelect">House:</label>
                <select class="form-control" id="houseSelect" name="house">
                    <option>Select House</option>
                    <option value=1>Gryffindor - Hogwarts</option>
                    <option value=2>Hufflepuff - Hogwarts</option>
                    <option value=3>Ravenclaw - Hogwarts</option>
                    <option value=4>Slytherin - Hogwarts</option>
                    <option value=5>Bellefeuille - Beauxbatons</option>
                    <option value=6>Ombrelune - Beauxbatons</option>
                    <option value=7>Papillonlisse - Beauxbatons</option>
                </select>
            </div>
        </div>

        <button class="btn btn-primary" type="submit">Register Student</button>

    </form>
</div>
