<br />
<h2>Remove Wand:</h2>
<form id="removePet" action="/removePet" method="post">
    <div>
        <label class="inputLabel">Owner's Name (Required):</label>
        <select name="owner_name_remove" id="owner_name_remove">
            <option value="" selected="selected">Select Owner</option>
            {{#if wands}}
            {{#each wands}}
            <option id="selectedName" value="{{this.id}}">{{this.owner_name}}</option>
            {{/each}}
            {{/if}}
        </select>
    </div>
    <br />
    <div>
        <input type="submit" name="Remove Wand" value="Remove Wand" id="postRemoveWand">
    </div>
</form>