<div class="container" style="padding: 10% 0% 10% 0%">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Select Student
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#"></a>
            <a class="dropdown-item" href="#"></a>
            <a class="dropdown-item" href="#"></a>
        </div>
    </div>
    <br>

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Student ID</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Age</th>
            <th scope="col">School</th>
            <th scope="col">House</th>
            <th scope="col">Pet</th>
            <th scope="col">Wand</th>
        </tr>
        </thead>
        <tbody>
        <tr>

        </tr>
        <tr>

        </tr>
        <tr>

        </tr>
        </tbody>
    </table>
    <br>
    <button type="button" class="btn btn-secondary">Update Student</button>
</div>