<div class="container" style="padding: 10% 0% 10% 0%">
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">ID Number</th>
            <th scope="col">Length</th>
            <th scope="col">Material</th>
            <th scope="col">Core</th>
        </tr>
        </thead>
        <tbody>
        {{#each wand}}
            <tr>
                <td>{{wID}}</td>
                <td>{{length}}</td>
                <td>{{material}}</td>
                <td>{{core}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>
