<h2>Register Pet</h2>
<form id="newPet" action="/register_pet" method="post">
	<div>
		<label class="inputLabel">Owner's First Name (Required):</label>
		<input class="userInput" type="text" name="first_name" id="first_name">
	</div>
	<br />
	<div>
		<label class="inputLabel">Owner's Last Name (Required):</label>
		<input class="userInput" type="text" name="last_name" id="last_name">
	</div>
	<br />
	<div>
		<label class="inputLabel">Pet's Name:</label>
		<input class="userInput" type="text" name="pet_name" id="pet_name">
	</div>
	<br />
	<div>
		<label class="inputLabel">Pet Species:</label>
		<input class="userInput" type="text" name="pet_species" id="pet_species">
	</div>
	<br />
	<div>
		<input type="submit" name="Register Pet" value="Register Pet" id="postNewPet">
	</div>
</form>