<h2>Register Student</h2>
<form id="newStudent" action="/register_student" method="post">
	<div>
		<label class="inputLabel">First Name (Required):</label>
		<input class="userInput" type="text" name="first_name" id="first_name">
	</div>
	<br />
	<div>
		<label class="inputLabel">Last Name:</label>
		<input class="userInput" type="text" name="last_name" id="last_name">
	</div>
	<br />
	<div>
		<label class="inputLabel">Age (Required):</label>
		<input class="userInput" type="number" name="age" id="age">
	</div>
	<br />
	<div>
		<label class="inputLabel">School:</label>
        <select class="userInput" name="school" id="school">
            <option value="" selected="selected">Select School</option>
            <option value="Hogwarts">Hogwarts School of Witchcraft and Wizardry</option>
			<option value="Beauxbatons">Beauxbatons Academy of Magic</option>
			<option value="Durmstrang">Durmstrang Institute</option>
        </select>
	</div>
	<br />
	<div>
		<label class="inputLabel">House:</label>
        <select class="userInput" name="house" id="house>
            <option value="" selected="selected">Select House</option>
            <option value="Gryffindor">Gryffindor - Hogwarts</option>
			<option value="Hufflepuff">Hufflepuff - Hogwarts</option>
			<option value="Ravenclaw">Ravenclaw - Hogwarts</option>
			<option value="Slytherin">Slytherin - Hogwarts</option>
			<option value="Bellefeuille">Bellefeuille - Beauxbatons</option>
			<option value="Ombrelune">Ombrelune - Beauxbatons</option>
			<option value="Papillonlisse">Papillonlisse - Beauxbatons</option>
			
        </select>
	</div>
	<br />
	
	<div>
		<input type="submit" name="Register Student" value="Register Student" id="postNewStudent">
	</div>
</form>
